ion-content {
    --ion-background-color: rgb(36, 35, 37);
}


ion-card-content{
    padding-top: 2px;
}
ion-list{
    padding: 0;
}

ion-item{
    border-radius: 15px;
    margin-top: 10px;
    height: 60px;
}



.avatar-profile{
    margin-top: 4rem;
    height: 13rem;
    min-width: 13rem;
}


.img-row{
    background-image: url('../../../assets/img/bg-profile.png');
    background-repeat: no-repeat;
    padding-left: 23%;
    padding-right: 22%;
}

.imagen-perfil{
    display: block;
    border-style: solid;

}

.titulo-perfil{
    color: black;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    padding-top: 10px;
}

.user-name{
    color: #ec6635;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.user-email{
    margin-top: 0;
    color: white;
    font-size: 13px;
}

.icon-card-profile{
    height: 3rem;
}

.card-option-name{
    font-size: 20px;
}

.m{
    height: 3rem;
}

.boton{
    width: 6rem;
    font-size: 9px;
}

