ion-content {
    --ion-background-color: rgb(36, 35, 37);
  }

  ion-item{
    --ion-background-color: rgb(255, 255, 255);
}

ion-card{
  --ion-background-color: rgba(255, 255, 255, 0);
}

ion-card-content{
  --ion-background-color: rgba(255, 255, 255, 0);
}

ion-item-sliding{
  margin-bottom: 1rem;
}

ion-list{
  border-radius: 10px;
}

ion-avatar{
    width: 120px;
    height: 120px;
    --border-radius: 8px
}

.img-row{
  background-image: url('../../../../assets/img/bg-profile.png');
  background-repeat: no-repeat;
  padding-left: 23%;
  padding-right: 22%;
}


.ninja{
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.titulo-error{
  color: #ec6635;
  font-size: 35px;
  margin-top: 2rem;
}

.ninja-ok{
  padding-top: 1.5rem;
}