

<ion-content [fullscreen]="true">
  <div class="glass-content">
      <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <img class="logo pulsate-fwd" src="assets/img/logo-mascota.png" alt="logo">
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
              <ion-card class="card-container box">
                <form [formGroup] = "form">
                  <ion-item class=" label-container">
                    <ion-label class="ion-text-center" position="floating">Email</ion-label>
                    <ion-input formControlName="email" ></ion-input>
                  </ion-item>

                  <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                    <div *ngIf="form.controls.email.errors?.['requerid']">El email es requerido</div>
                  </div>


                  <ion-item class="label-container">
                    <ion-label position="floating" class="ion-text-center ">Password</ion-label>
                    <ion-input formControlName="password" type="password" ></ion-input>
                  </ion-item>

                  <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                    <div *ngIf="form.controls.password.errors?.['requerid']">La contraseña es requerida</div>
                    <div *ngIf="form.controls.password.errors?.['minlength']">La contraseña debe tener 6 caracteres como minimo</div>
                  </div>


                </form>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button  class="boton-reset" shape="round" [routerLink]="['/pass-recover']" color="warning">Recupera tu contraseña</ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button (click)="ingresar()" shape="round" class="boton-login" color="warning">Ingresar</ion-button> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>