

<ion-content [fullscreen]="true">
    <div class="glass-content">
      <ion-grid>
          <ion-row>
              <ion-col class="ion-text-center">
                  <img class="logo pulsate-fwd" src="assets/img/logo-mascota.png" alt="logo">
              </ion-col>
          </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
              <ion-card class="card-container box">
                <form [formGroup] = "form">
                  <ion-item class=" label-container">
                    <ion-label class="ion-text-center" position="floating">Usuario</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                  </ion-item>

                  <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
                    <div *ngIf="form.controls.name.errors?.['requerid']">El nombre es requerido</div>
                    <div *ngIf="form.controls.name.errors?.['minlength']">El nombre debe tener 4 caracteres como minimo</div>
                  </div>

                  <ion-item class="label-container">
                    <ion-label position="floating" class="ion-text-center ">Password</ion-label>
                    <ion-input formControlName="password" type="password"></ion-input>
                  </ion-item>

                  <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                    <div *ngIf="form.controls.password.errors?.['requerid']">La contraseña es requerida</div>
                    <div *ngIf="form.controls.password.errors?.['minlength']">La contraseña debe tener 6 caracteres como minimo</div>
                  </div>

                  <ion-item class="label-container">
                    <ion-label position="floating" class="ion-text-center ">Email</ion-label>
                    <ion-input formControlName="email" type="email"></ion-input>
                  </ion-item>

                  <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                    <div *ngIf="form.controls.email.errors?.['requerid']">El email es requerido</div>
                  </div>

                  <ion-avatar class="ion-text-center" *ngIf="form.value.profilePic">
                    <img [src]="form.value.profilePic" />
                </ion-avatar>

                <ion-icon class="image-icon" *ngIf="!form.value.profilePic" name="image-outline"></ion-icon>

                <br>

                <ion-button color="warning" (click)="obtenerImagen()" size="small" shape="round">
                    Agregar Foto de perfil
                </ion-button>


                </form>
              </ion-card>
          </ion-col>
        </ion-row>

       

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button (click)="registrar()" shape="round" class="boton-registro" color="warning">Registrar</ion-button> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
