

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-chip class="box">
              <ion-avatar>
                <img alt="user-avatar" src="https://i.pinimg.com/564x/58/14/31/58143128ab1a8ff18806bd193c3beec3.jpg" />
              </ion-avatar>
              <ion-label class="fuente-bienvenido">Bienvenido {{data.usuario}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-button class="icon-play"  color="medium" aria-label="Favorite">
              <ion-icon size="large" name="caret-forward-circle-outline" aria-hidden="true"></ion-icon>
            </ion-button>
            <ion-img src="../../../assets/img/artista1.png">
            </ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
</ion-content>