

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-chip class="box">
              <ion-avatar>
                <img alt="user-avatar" src="https://i.pinimg.com/564x/58/14/31/58143128ab1a8ff18806bd193c3beec3.jpg" />
              </ion-avatar>
              <ion-label class="fuente-bienvenido">Bienvenido {{data.usuario}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>


  <!-- me volvi loco, iteración con condicional de array creado en el TS del page home para alojar imagenes-->
  <div class="swiper-container" *ngIf="slides.length > 0">
    <swiper-container [modules] = "swiperModules"
                      [slidesPerView]="1.2"
                      [initialSlide]="1"
                      [centeredSlides]="true"
                      [spaceBetween]="15">
      <swiper-slide *ngFor="let slide of slides">
        <img class="slide-image" [src]="slide?.banner">
      </swiper-slide>
    </swiper-container>
  </div>




</ion-content>